body {
    background-color: #000;
}
h1 {
	font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}
h1.updating {
    text-align: center;
}
p {
    font-family: Arial, Helvetica, sans-serif;
	color: #fff;
}
div.body {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
div.logo {
	width: 40%;
    padding-left: 30%;
	padding-right: 30%;
}
div.logo img {
	width: 100%;
    height: auto;
}